.droupdown-header {
  width: 145px;
  height: 40px;
  background-color: rgba(245, 245, 245, 1);
  border: none;
  border-radius: 6px;
  color: rgba(119, 118, 118, 1);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-list {
  width: 220px;
  list-style: none;

  position: absolute;
  z-index: 4;
  padding: 6px;
  border: 1px solid rgba(228, 228, 228, 1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.le {
  top: 242px;
}
.tg {
  top: 242px;
  left: 610px;
}
.dropdown-list li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  color: rgba(119, 118, 118, 1);
  border-radius: 4px;
}
.dropdown-list li:hover {
  background-color: rgba(234, 234, 254, 1);
  color: black;
}
